{{!-- Admin --}}

{{> @navbar-admin className="sticky-top" }}

<div class="socrates-content">

	<div class="container pt-4">
		<div class="row">
			<div class="col-24 mt-6 mb-3">
				<h1 class="mb-2 font-weight-bold">Create New Gallery</h1>
				<p class="text-muted">Information, Content type & Targeting</p>
				<hr class="mt-5" />
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-24 mt-5">
				<h4 class="text-info">— Information</h4>
			</div>
		</div>

		<div class="row">
			<div class="col-24 mt-5">
				<form action="">
					<div class="form-group row mt-5">
						<label for="inputName" class="col-sm-4 col-form-label">Name</label>
						<div class="col-sm-18">
							<input type="text" class="form-control" id="inputName" placeholder="Top News or Entity Name">
						</div>
					</div>
					<div class="form-group row mt-5">
						<label for="inputName" class="col-sm-4 col-form-label">Icon</label>
						<div class="col-sm-18">
							<div class="mb-3">
								<label class="col-form-label mr-3">Current: </label>
								<img src="https://images.onefootball.com/default_gallery-icon.png" class="icon size-3">
							</div>
							<div class="input-group mb-3">
								<div class="input-group-prepend">
									{{!-- <span class="input-group-text" id="inputGroup-sizing-default">
										<img src="https://images.onefootball.com/default_gallery-icon.png" class="icon">
									</span> --}}
									<a href="#" class="btn btn-outline-primary border rounded-left" data-toggle="modal" data-target="#modal-search">Pick an icon</a>
									<span class="input-group-text" id="inputGroup-sizing-default">
										or
									</div>
									<div class="custom-file">
										<input type="file" class="custom-file-input" id="customFile">
										<label class="custom-file-label text-primary" for="customFile">Choose file</label>
									</div>
								</div>
								<p id="inputDesc" class="text-sm form-text text-info">
									<img class="inject-me mx-auto icon size-lg text-info" src="{{path '/assets/img/icons/ic_info_24px.svg' }}" />
									Please try to only pick an existing icon and in case of doubt, email this dude 👨‍💻<a class="text-info" href="mailto:zero@onefootball.com"><strong>zero@onefootball.com</strong></a>
								</p>
							</div>
						</div>
						<div class="form-group row mt-5">
							<label class="col-sm-4 col-form-label">Contextual message</label>
							<div class="col-sm-18">
								<input type="text" class="form-control" id="inputContext" placeholder="e.g. Curatd by Onefootball Team">
								<p id="inputDesc" class="text-sm form-text text-warning">
									<img class="inject-me mx-auto icon size-lg text-warning" src="{{path '/assets/img/icons/ic_warning_24px.svg' }}" />
									Leave it empty if it's for a followed entity or it will fallback to a predefined message
								</p>
							</div>
						</div>
						<div class="form-group row mt-5">
							<label for="inputDesc" class="col-sm-4 col-form-label">Description</label>
							<div class="col-sm-18">
								<textarea class="form-control" name="" placeholder="in few words what is this gallery all about"></textarea>
								<p id="inputDesc" class="text-sm form-text text-info">
									<img class="inject-me mx-auto icon size-lg text-info" src="{{path '/assets/img/icons/ic_info_24px.svg' }}" />
									Will not be shown to users
								</p>
							</div>
						</div>
{{!-- 					for a later version
					<div class="form-group row mt-5">
						<label for="inputSelect3" class="col-sm-4 col-form-label">Direction</label>
						<div class="col-sm-18">
							<select name="" id="" class="form-control">
								<option value="Vertical">Vertical Gallery</option>
								<option value="Horizontal">Horizontal Gallery</option>
							</select>
						</div>
					</div> --}}

					<hr class="mt-7 mb-4" />

					<div class="row">
						<div class="col-24 mt-5">
							<h4 class="text-info">— Content Type</h4>
						</div>
					</div>

					<fieldset class="form-group mt-5">
						<div class="row">
							<label class="col-sm-4 col-form-label pt-0">Type of Content</label>
							<div class="col-sm-18">
								<div class="custom-control custom-radio d-inline-block">
									<input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
									<label class="custom-control-label" for="customRadio1">News Topic Gallery</label>
								</div>

								<hr class="my-5" />

								<div class="custom-control custom-radio d-inline-block mr-4" data-toggle="tooltip" data-placement="top" title="Valid for ONE entity">
									<input type="radio" id="customRadio3-3" name="customRadio" class="custom-control-input">
									<label class="custom-control-label" for="customRadio3-3">Entity News Official Gallery</label>
								</div>

								<hr class="my-5" />

								<div class="custom-control custom-radio d-inline-block">
									<input type="radio" id="customRadio3" name="customRadio" class="custom-control-input">
									<label class="custom-control-label" for="customRadio3">Video</label>
								</div>

								<hr class="my-5" />

								<div class="custom-control custom-radio d-inline-block">
									<input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
									<label class="custom-control-label" for="customRadio2">Match</label>
								</div>

							</div>
						</div>
					</fieldset>

					<hr class="mt-7 mb-4" />

					<div class="row">
						<div class="col-24 mt-5">
							<h4 class="text-info">— Targeting</h4>
							{{!-- <p class="text-muted">Targeting is ONLY manual if it's a topic gallery</p> --}}
						</div>
					</div>

					<div class="form-group row mt-5">
						<label class="col-sm-4 col-form-label">Language</label>
						<div class="col-sm-18">
							<select class="form-control">
								<option>Language</option>
								<option value="">English</option>
								<option value="">German</option>
								<option value="">Italian</option>
								<option value="">Spanish</option>
							</select>
						</div>
					</div>

					<div class="form-group row mt-5">
						<label class="col-sm-4 col-form-label">Publish to</label>
						<div class="col-sm-18">
							<div class="custom-control custom-radio">
								<input type="radio" id="positionRadio1" name="PositionRadio" class="custom-control-input">
								<label class="custom-control-label" for="positionRadio1">Language Only</label>
							</div>

							<div class="form-inline mt-4">
								<select name="" id="" class="col form-control mr-3">
									<option>Rank within the stream</option>
									<option value="">Before Favorite teams area — Rank 1</option>
									<option value="">Before Followed teams area — Rank 3</option>
									<option value="">After Followed teams area — Rank 5</option>
								</select>
								<select name="" id="" class="col form-control">
									<option>Index inside selected Area</option>
									<option value="">Rank #1</option>
									<option value="">Rank #3</option>
									<option value="">Rank #5</option>
								</select>
							</div>

							<hr class="my-5" />

							<div class="custom-control custom-radio">
								<input type="radio" id="positionRadio2" name="PositionRadio" class="custom-control-input">
								<label class="custom-control-label" for="positionRadio2">Team<span class="text-muted"> (Favourite / Follow)</span></label>
							</div>

							<div class="mt-4 col-24">
								<div class="row">
									{{!-- <select name="" id="" class="col-sm-10 form-control">
										<option>Pick a Language</option>
										<option value="">English</option>
										<option value="">German</option>
										<option value="">Italian</option>
										<option value="">Spanish</option>
									</select> --}}

									<div class="col-sm-14">
										<div class="input-group">
											<div class="input-group-prepend">
												<span class="input-group-text" id="inputGroupPrepend3">
													<img class="inject-me size-lg ml-auto d-block" src="{{path '/assets/img/icons/ic_search_24px.svg' }}" />
												</span>
											</div>
											<input type="text" class="form-control" placeholder="Search for Entity" />
										</div>

										<div class="row mt-4 no-gutters">
											<div class="col-22 align-self-center">
												<h5 class="m-0">
													<img src="https://images.onefootball.com/icons/teams/164/263.png" class="size-2 mr-3" />Paris SG
													<span class="badge badge-info badge-pill ml-2">Official</span>
												</h5>
											</div>
											<div class="col-sm-2 align-self-center">
												<a href="#" class="text-danger">
													<img class="inject-me icon size-lg ml-auto d-block" src="{{path '/assets/img/icons/ic_close_circle_24px.svg' }}" data-toggle="tooltip" data-placement="top" title="Remove Entity" />
												</a>
											</div>
										</div>
									</div>
								</div>

								{{!-- <p id="inputDesc" class="m-0 text-sm form-text text-info col-auto">
									<img class="inject-me mx-auto icon size-lg text-info" src="{{path '/assets/img/icons/ic_info_24px.svg' }}" />
									Official Gallery positioning will be done automatic by the system
								</p> --}}
							</div>

							<hr class="my-5" />

							<div class="custom-control custom-radio">
								<input type="radio" id="positionRadio22222" name="PositionRadio" class="custom-control-input">
								<label class="custom-control-label" for="positionRadio22222">Competition<span class="text-muted"> (Favourite / Follow)</span></label>
							</div>

							<hr class="my-5" />

							<div class="custom-control custom-radio">
								<input type="radio" id="positionRadio2233" name="PositionRadio" class="custom-control-input">
								<label class="custom-control-label" for="positionRadio2233">Player<span class="text-muted"> (Follow)</span></label>
							</div>

						</div>
					</div>

{{!-- 					<fieldset class="form-group mt-5">
						<div class="row mt-5">
							<legend class="col-sm-4 col-form-label pt-0">Followed Entity Targeting</legend>
							<div class="col-sm-20">
								<div class="form-inline">
									<select name="" id="" class="form-control mr-4 col-8">
										<option>Pick a Rank</option>
										<option value="">Rank #1</option>
										<option value="">Rank #3</option>
										<option value="">Rank #5</option>
									</select>
									<select name="" id="" class="form-control col-8">
										<option>Pick an index</option>
										<option value="">Rank #1</option>
										<option value="">Rank #3</option>
										<option value="">Rank #5</option>
									</select>
								</div>

								<hr class="my-5" />

								<div class="custom-control custom-radio mr-4">
									<input type="radio" id="customRadio4" name="radioTargeting" class="custom-control-input">
									<label class="custom-control-label" for="customRadio4">Followed Entity</label>
								</div>
							</div>
						</div>
					</fieldset> --}}

					<hr class="mt-7 mb-4" />

					<div class="form-group row mt-7">
						<div class="col-sm-24 d-flex justify-content-end">
							<div class="mr-5 align-self-center">
								<p class="m-0 text-danger">error message goes here along side with highlighting the error box</p>
							</div>
							<button type="reset" class="btn btn-secondary mr-2">Cancel</button>
							<button type="submit" class="btn btn-primary">Next Step</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

</div> {{!-- /.socrates-content --}}

{{> @footer-admin }}

{{> @modal-search id="modal-search" actionPrimary="Done"}}