{{!-- News Details --}}

<nav class="navbar navbar-expand-lg navbar-light bg-white elevated-2">
	<div class="container d-flex justify-content-between">
		<a class="navbar-brand" href="#">
			<img class="" src="{{path '/assets/img/brand.svg' }}" />
		</a>
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				{{!-- <span class="h6 font-brand text-primary-dark">Newsdesk</span> --}}
			</li>
		</ul>
		<button class="navbar-toggler d-none" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
	</div>
</nav>

<div class="article-bar navbar fixed-bottom navbar-expand navbar-light bg-white d-xl-none d-lg-none">
	<div class="container d-flex justify-content-between">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item dropup">
				<a class="nav-link dropdown-toggle btn" id="menuShare" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<img class="inject-me icon text-gray-light size-lg mr-1" src="{{path '/assets/img/icons/ic_share_24px.svg' }}" />
					Share
				</a>
				<div class="dropdown-menu" aria-labelledby="menuShare">
					<a class="dropdown-item py-2" href="#">
						<img class="icon size-2 mr-2 inject-me" src="{{path '/assets/img/icons/ic_facebook.svg' }}" />
						Facebook</a>
					<a class="dropdown-item py-2" href="#">
						<img class="icon size-2 mr-2 inject-me" src="{{path '/assets/img/icons/ic_twitter.svg' }}" />
						twitter</a>
					<a class="dropdown-item py-2" href="#">
						<img class="icon size-2 mr-2 inject-me" src="{{path '/assets/img/icons/ic_whatsapp.svg' }}" />
						Whatsapp</a>
				</div>
			</li>
		</ul>
		<a class="btn btn-outline-primary" href="#">Open in App</a>
	</div>
</div>

{{!-- <nav class="navbar fixed-bottom navbar-expand-sm navbar-light bg-white">
      <a class="navbar-brand" href="#">Bottom navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
          <li class="nav-item dropup">
            <a class="nav-link dropdown-toggle" href="https://getbootstrap.com" id="dropdown10" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropup</a>
            <div class="dropdown-menu" aria-labelledby="dropdown10">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        </ul>
      </div>
    </nav> --}}

    <div class="container">
    	<div>
         <div class="row">
            <div class="col-24 p-0 p-sm-3 col-sm-18 col-lg-16 mx-auto">
                <img class="img-fluid mt-md-4 mt-lg-6 article-img" src="https://oneftbl-cms.imgix.net/https%3A%2F%2Fen.onefootball.com%2Fwp-content%2Fuploads%2Fsites%2F10%2F2018%2F01%2FBurnley-v-Tottenham-Hotspur-Premier-League-1-e1516092183395.jpg?fit=max&q=75&w=1080&s=782fbd1bc8057bd9d50baa2c8884c305" alt="cover">
            </div>
            <div class="col-24 col-sm-20 col-lg-18 mx-auto">
                <h1 class="display-3 font-weight-heavy line-height-sm position-relative m-0 mt-5 mt-lg-6">
                    <div class="article-circle position-absolute rounded-circle bg-primary-light"></div>
                    Mauricio Pochettino dodges question about taking over at Real Madrid
                </h1>
            </div>
            <div class="col-24 col-sm-18 col-lg-16 mx-auto mt-4 mt-lg-6">
                <span class="font-weight-bold text-gray-dark">
                    <img class="icon size-sm mr-1" src="{{path '/assets/img/brand-icon.svg' }}" />Onefootball
                </span>
                <span class="mx-1 text-gray-light">
                    <img class="inject-me icon text-gray-light" src="{{path '/assets/img/icons/ic_dot_24px.svg' }}" />
                </span>
                <span class="font-weight-bold text-gray-light">Alex Mott</span>
                <div class="mt-1">
                    <span class="text-gray-light">Jan 17, 2018</span>
                    <span class="mx-1 text-gray-light">
                        <img class="inject-me icon text-gray-light" src="{{path '/assets/img/icons/ic_dot_24px.svg' }}" />
                    </span>
                    <span class="text-gray-light">10:39 AM</span>
                </div>
            </div>
            <div class="col-24 col-sm-18 col-lg-16 mx-auto mt-4 mb-4 mt-lg-5 mb-lg-5">
                <p class="lead font-weight-semibold text-gray-dark line-height-lg font-weight-bold mb-2 mb-lg-3">
                    Spurs manager Mauricio Pochettino claims he has not been paying any attention to the rumours of his move to the helm of Real Madrid next season.
                </p>
                <div class="article-separator article-separator-left position-absolute bg-primary-light rounded"></div>
            </div>

            <div class="col-24 mt-5 col-sm-18 mt-lg-6 col-lg-16 mx-auto">
                <p class="text-article line-height-lg m-0">
                    When told that many of the LaLiga giants’ fans had ask to see Pochettino coaching Real Madrid, the former Espanyol boss responded by saying that he is very happy at Tottenham and is not making any plans to move away yet.
                </p>
            </div>

            <div class="col-24 mt-5 col-sm-18 mt-lg-6 col-lg-16 mx-auto">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ydb2uX_JOy0?showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
            </div>

            <div class="col-24 mt-5 col-sm-18 mt-lg-6 col-lg-16 mx-auto">
                <p class="text-article line-height-lg m-0">
                    Don’t think too much, enjoy the present, be professional and responsible and let football take you where it wants to.'”
                </p>
            </div>

            <div class="col-22 mt-5 col-sm-14 mt-lg-6 col-lg-12 mx-auto">
                <div class="row">
                    <div class="col-24 my-5">
                        <blockquote class="blockquote position-relative py-lg-2">
                            {{!-- <div class="article-separator article-separator-right bg-primary-light rounded"></div> --}}
                            <div class="article-circle position-absolute rounded-circle bg-primary-light"></div>
                            <p class="display-4 line-height-sm text-primary-dark font-weight-bold">
                                Real Madrid have hit hard times this season as they sit 19 points adrift of LaLiga leaders Barcelona
                            </p>
                            <p class="m-0 blockquote-footer">Cristiano Ronaldo</p>
                            {{!-- <div class="article-separator article-separator-left bg-primary-light rounded"></div> --}}
                        </blockquote>
                    </div>
                </div>
            </div>

            <div class="col-24 mt-5 col-sm-18 mt-lg-6 col-lg-16 mx-auto">
                <p class="text-article line-height-lg m-0">
                    “Football will take me where football wants to,” Pochettino said. “[Former Argentina international] Jorge Grifa, who was like a second father to me, would tell me, ‘Don’t think too much, enjoy the present, be professional and responsible and let football take you where it wants to.'”
                </p>
            </div>
            <div class="col-24 mt-5 col-sm-18 mt-lg-6 col-lg-16 mx-auto">
                <p class="text-article line-height-lg m-0">
                    Real Madrid have hit hard times this season as they sit 19 points adrift of LaLiga leaders Barcelona – a painful defeat following their record-breaking 2017, which saw Zinedine Zidane’s men lift five trophies for the first time in club’s history.
                </p>
            </div>
            <div class="col-24 mt-5 col-sm-18 mt-lg-6 col-lg-16 mx-auto">
                <p class="text-article line-height-lg m-0">
                    Meanwhile Spurs are enjoying a change of scenery as Pochettino and his men enjoy the benefits of holding a training camp in Barcelona.
                </p>
            </div>

            <div class="col-24 mt-5 col-sm-18 mt-lg-6 col-lg-16 mx-auto">
                <blockquote class="twitter-tweet mx-auto d-block" data-lang="en"><p lang="en" dir="ltr">🗣️ &quot;It&#39;s fantastic to change the routine.&quot;<br><br>Mauricio on the benefits of holding a training camp in Barcelona.<a href="https://twitter.com/hashtag/COYS?src=hash&amp;ref_src=twsrc%5Etfw">#COYS</a> <a href="https://t.co/8bqKQvYm4x">pic.twitter.com/8bqKQvYm4x</a></p>&mdash; Tottenham Hotspur (@SpursOfficial) <a href="https://twitter.com/SpursOfficial/status/952986267221835777?ref_src=twsrc%5Etfw">January 15, 2018</a></blockquote>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>

            <div class="col-24 mt-5 col-sm-18 mt-lg-6 col-lg-16 mx-auto">
                <div class="article-separator bg-primary-light rounded mx-auto"></div>
            </div>

            <div class="col-24 mt-5 col-sm-18 mt-lg-6 col-lg-16 mx-auto">
                <h1 class="m-0 font-weight-bold mb-3">Some title goes Here</h1>
                <p class="text-article line-height-lg m-0">
                    Real Madrid have hit hard times this season as they sit 19 points adrift of LaLiga leaders Barcelona – a painful defeat following their record-breaking 2017, which saw Zinedine Zidane’s men lift five trophies for the first time in club’s history.
                </p>
            </div>
            <div class="col-24 mt-5 col-sm-18 mt-lg-6 col-lg-16 mx-auto">
                <blockquote class="mx-auto instagram-media" data-instgrm-captioned data-instgrm-permalink="https://www.instagram.com/p/Bd5bplgBmqQ/" data-instgrm-version="8" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:8px;"> <div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:50.0% 0; text-align:center; width:100%;"> <div style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURczMzPf399fX1+bm5mzY9AMAAADiSURBVDjLvZXbEsMgCES5/P8/t9FuRVCRmU73JWlzosgSIIZURCjo/ad+EQJJB4Hv8BFt+IDpQoCx1wjOSBFhh2XssxEIYn3ulI/6MNReE07UIWJEv8UEOWDS88LY97kqyTliJKKtuYBbruAyVh5wOHiXmpi5we58Ek028czwyuQdLKPG1Bkb4NnM+VeAnfHqn1k4+GPT6uGQcvu2h2OVuIf/gWUFyy8OWEpdyZSa3aVCqpVoVvzZZ2VTnn2wU8qzVjDDetO90GSy9mVLqtgYSy231MxrY6I2gGqjrTY0L8fxCxfCBbhWrsYYAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;"></div></div> <p style=" margin:8px 0 0 0; padding:0 4px;"> <a href="https://www.instagram.com/p/Bd5bplgBmqQ/" style=" color:#000; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none; word-wrap:break-word;" target="_blank">Real Madrid 0-1 Villarreal ⚽ 87’ Fornals #RMLiga</a></p> <p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;">A post shared by <a href="https://www.instagram.com/realmadrid/" style=" color:#c9c8cd; font-familyArial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px;" target="_blank"> Real Madrid C.F. 🏆</a> (@realmadrid) on <time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;" datetime="2018-01-13T17:05:00+00:00">Jan 13, 2018 at 9:05am PST</time></p></div></blockquote> <script async defer src="//platform.instagram.com/en_US/embeds.js"></script>
            </div>

            <div class="col-24 mt-5 col-sm-18 mt-lg-6 col-lg-16 mx-auto">
                <p class="text-article line-height-lg m-0">
                    Real Madrid defender Marcelo hailed Cristiano Ronaldo, saying his team-mate was undoubtedly the world's best player. Fresh from claiming his fifth Ballon d'Or, Ronaldo scored twice in Madrid's 5-0 thrashing of Sevilla in LaLiga on Saturday. Ronaldo and Barcelona star Lionel Messi have each won five Ballons d'Or, but Marcelo has no doubt about who is best.
                </p>
            </div>
         </div> {{!-- /.row --}}   
        </div>

    </div> {{!-- /.container --}}

    <div class="bg-gradient-gray mt-6 mt-lg-7">
    	<div class="container">
    		<div class="row pt-4 pt-lg-7">
    			<div class="col-24">
    				<h4 class="m-0 font-weight-bold">Mentioned in the Article</h4>
    			</div>
    		</div>
    	</div>

    	{{> @entity-entries }}
    </div>

    <div class="container">
    	<div class="row">
    		<div class="col-24">
    			<hr class="mt-3 mb-5" />
    			<h4 class="m-0 font-weight-bold">Mentioned in the Article</h4>
    		</div>
    	</div>
    </div>