
<div class="row mt-3">
	<div class="col-sm-16">
		<div class="row">
			<div class="col-7">
				<img class="img-fluid rounded-lg" src="https://image-service.onefootball.com/resize?fit=max&image=http%3A%2F%2Fimages.performgroup.com%2Fdi%2Flibrary%2Fomnisport%2Fe9%2F63%2Fbayern-boss-jupp-heynckes_kxn2thm6j13l16r7ai4jkxe86.jpg%3Ft%3D631633994&q=25&w=1080" alt="Generic placeholder image">
			</div>
			<div class="col-15 align-self-center">
				<h5 class="font-weight-bold">Heynckes breaks Champions League record as Bayern march on</h5>
				<div class="mt-1">
					<span class="text-gray-light">Jan 17, 2018</span>
					<span class="mx-1 text-gray-light">
						<img class="inject-me icon text-gray-light" src="{{path '/assets/img/icons/ic_dot_24px.svg' }}" />
					</span>
					<span class="text-gray-light">10:39 AM</span>
				</div>
			</div>
		</div>
	</div>

	<div class="col-sm-2 align-self-center">
		<a href="#" class="text-gray-light">
			<img class="inject-me icon size-2 mx-auto d-block" src="{{path '/assets/img/icons/ic_content_copy_24px.svg' }}" data-toggle="tooltip" data-placement="top" title="Click to copy link" />
		</a>
	</div>

	<div class="col-sm-2 align-self-center">
		<a href="#" class="text-gray-light">
			<img class="inject-me icon size-2 mx-auto d-block" src="{{path '/assets/img/icons/ic_edit_24px.svg' }}" data-toggle="tooltip" data-placement="top" title="Edit" />
		</a>
	</div>

	<div class="col-sm-2 align-self-center">
		<a href="#" class="text-gray-light">
			<img class="inject-me icon size-2 mx-auto d-block" src="{{path '/assets/img/icons/ic_cursor_move_24px.svg' }}" data-toggle="tooltip" data-placement="top" title="Rearrange" />
		</a>
	</div>

	<div class="col-sm-2 align-self-center">
		<a href="#" class="text-danger">
			<img class="inject-me icon size-2 mx-auto d-block" src="{{path '/assets/img/icons/ic_close_circle_24px.svg' }}" data-toggle="tooltip" data-placement="top" title="Remove from Gallery" />
		</a>
	</div>

	<div class="col-24">
		<hr class="mt-4 mb-3" />
	</div>

</div>