<div class="article-bar bg-white sticky-bottom {{className}}">
	<div class="container">
		<div class="row no-gutters">
			<div class="col-24 col-sm-20 col-lg-18 mx-auto">
				<div class="navbar navbar-expand navbar-light px-0">
					<div class="d-flex justify-content-between">
						<ul class="navbar-nav mr-auto">
							<li class="nav-item dropup">
								<a class="nav-link dropdown-toggle btn pl-0" id="menuShare" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<img class="inject-me icon text-gray-light size-lg mr-1" src="{{path '/assets/img/icons/ic_share_24px.svg' }}" />
									Share
								</a>
								<div class="dropdown-menu" aria-labelledby="menuShare">
									<a class="dropdown-item py-2" href="#">
										<img class="icon size-2 mr-2 inject-me" src="{{path '/assets/img/icons/ic_facebook.svg' }}" />
									Facebook</a>
									<a class="dropdown-item py-2" href="#">
										<img class="icon size-2 mr-2 inject-me" src="{{path '/assets/img/icons/ic_twitter.svg' }}" />
									twitter</a>
									<a class="dropdown-item py-2 d-xl-none d-lg-none" href="#">
										<img class="icon size-2 mr-2 inject-me" src="{{path '/assets/img/icons/ic_whatsapp.svg' }}" />
									Whatsapp</a>
								</div>
							</li>
						</ul>
						<a class="btn btn-outline-primary d-xl-none d-lg-none" href="#">Open in App</a>
						<div class="border-left col-10 d-none d-lg-block d-xl-none d-xl-block">
							<a href="#" class="text-gray-dark">
								<p class="text-sm m-0 text-gray-light">Next story</p>
								<h6 class="m-0 font-weight-bold text-truncate">Roma seek historic comeback in Eternal City - Champions League in Opta numbers</h6>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>