<footer id="footer">
	<div class="border-top">
		<div class="container">
			<div class="row">
				<div class="col-22 col-md-24 col-lg-8 mx-auto">
					<h4 class="text-gray-blue font-brand mt-6 h6">About Onefootball</h4>
					<div class="nav flex-column">
						<div class="row">
							<div class="col-12 col-md-8 col-lg-24">
								<a class="nav-link d-inline-block pl-0 text-gray-light" target="_blank" href="https://onefootball.com/network/">Onefootball Network</a>
							</div>
							<div class="col-12 col-md-8 col-lg-24">
								<nuxt-link to="/careers" class="nav-link d-inline-block pl-0 text-gray-light">Careers</nuxt-link>
							</div>
							<div class="col-12 col-md-8 col-lg-24">
								<nuxt-link to="/contact" class="nav-link d-inline-block pl-0 text-gray-light">Contact</nuxt-link>
							</div>
						</div>
					</div>
				</div> <!--/.col-->
				<div class="col-22 col-md-24 col-lg-8 mx-auto">
					<h4 class="text-gray-blue font-brand mt-6 h6">Legal</h4>
					<div class="nav flex-column">
						<div class="row">
							<div class="col-12 col-md-8 col-lg-24">
								<nuxt-link to="/imprint" class="nav-link d-inline-block pl-0 text-gray-light">Imprint</nuxt-link>
							</div>
							<div class="col-12 col-md-8 col-lg-24">
								<nuxt-link to="/privacy-policy" class="nav-link d-inline-block pl-0 text-gray-light">Privacy Policy</nuxt-link>
							</div>
							<div class="col-12 col-md-8 col-lg-24">
								<nuxt-link to="/terms-and-conditions" class="nav-link d-inline-block pl-0 text-gray-light">Terms &amp; Conditions</nuxt-link>
							</div>
						</div>
					</div>
				</div> <!--/.col-->
				<div class="col-22 col-md-24 col-lg-8 mx-auto">
					<h4 class="text-gray-blue font-brand mt-6 h6">Download</h4>
							<a href="http://1.ftb.al/download-onefootball-ios" target="_blank" class="d-inline-block mr-3 mt-3">
								<img alt="App Store" class="img-fluid" title="App Store" src="{{path '/assets/img/app-store.svg'}}">
							</a>
							<a href="http://1.ftb.al/download-onefootball-android" target="_blank" class="d-inline-block mr-3 mt-3">
								<img alt="Google Play" class="img-fluid" title="Google Play" src="{{path '/assets/img/google-play.svg'}}">
							</a>
							<a href="http://1.ftb.al/download-onefootball-windows" target="_blank" class="d-inline-block mt-3">
								<img alt="Windows Store" class="img-fluid" title="Windows Store" src="{{path '/assets/img/windows-store.svg'}}">
							</a>
					<h4 class="text-gray-blue font-brand mt-6 h6">Social</h4>
					<ul class="nav flex-row justify-content-between m-0">
						<li class="nav-item mr-3 mt-3">
							<a href="https://www.facebook.com/onefootball" target="_blank">
								<img alt="Facebook" title="Facebook" src="{{path '/assets/img/icons/ic_facebook.svg'}}" class="size-2" />
							</a>
						</li>
						<li class="nav-item mr-3 mt-3">
							<a href="https://twitter.com/OnefootballEN" target="_blank">
								<img alt="Twitter" title="Twitter" src="{{path '/assets/img/icons/ic_twitter.svg'}}" class="size-2" />
							</a>
						</li>
						<li class="nav-item mr-3 mt-3">
							<a href="https://www.youtube.com/channel/UC2-0sEOYbQFuaURd_AU6Krg" target="_blank">
								<img alt="YouTube" title="YouTube" src="{{path '/assets/img/icons/ic_youtube.svg'}}" class="size-2" />
							</a>
						</li>
						<li class="nav-item mr-3 mt-3">
							<a href="https://www.snapchat.com/add/onefootballsnap" target="_blank">
								<img alt="Snapchat" title="Snapchat" src="{{path '/assets/img/icons/ic_snapchat.svg'}}" class="size-2" />
							</a>
						</li>
						<li class="nav-item mr-3 mt-3">
							<a href="https://www.instagram.com/onefootball/" target="_blank">
								<img alt="Instagram" title="Instagram" src="{{path '/assets/img/icons/ic_instagram.svg'}}" class="size-2" />
							</a>
						</li>
						<li class="nav-item mr-3 mt-3">
							<a href="https://soundcloud.com/onefootball" target="_blank">
								<img alt="Soundcloud" title="Soundcloud" src="{{path '/assets/img/icons/ic_soundcloud.svg'}}" class="size-2" />
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-24 mt-6 mb-6">
					<p class="text-center text-gray-blue text-sm">&copy; Onefootball – We tell the world's football stories</p>
				</div>
			</div>
		</div>
	</div>
</footer>