{{!-- icon --}}

<div class="container my-5">
	<div class="row">
		<div class="col-24">
			<div class="alert alert-primary">
				No Bootstrap Docs for icons</a>
			</div>
		</div>
		<div class="col-24 mt-5">
			<p class="text-info mt-4"><strong>— Icons</strong></p>
			<p>Used <kbd>svg-inject.js</kbd> to inject inline SVG. Makes it easier to control via CSS</p>
			<p class="mb-0">For example if you want to have a check icon then the code would be something similar to</p>
			<pre><kbd>&lt;img class="inject-me" src="{{path '/assets/img/ic_check_24px.svg' }}" /&gt;</kbd></pre>
			<p>SVG injecting method is up to you as long as it's the same result</p>

			<div class="row mt-4">
				<div class="col-12 col-xl-4 mb-4">
					<div class="elevated-2 p-4 rounded-lg">
						<img class="size-3 inject-me mx-auto d-block" src="{{path '/assets/img/ic_chevron_right_24px.svg' }}" />
						<p class="text-center mt-2 mb-0">Chevron right</p>
					</div>
				</div>
				<div class="col-12 col-xl-4 mb-4">
					<div class="elevated-2 p-4 rounded-lg">
						<img class="size-3 inject-me mx-auto d-block" src="{{path '/assets/img/ic_chevron_left_24px.svg' }}" />
						<p class="text-center mt-2 mb-0">Chevron left</p>
					</div>
				</div>
				<div class="col-12 col-xl-4 mb-4">
					<div class="elevated-2 p-4 rounded-lg">
						<img class="size-3 inject-me mx-auto d-block" src="{{path '/assets/img/ic_close_24px.svg' }}" />
						<p class="text-center mt-2 mb-0">Close</p>
					</div>
				</div>

				<div class="col-12 col-xl-4 mb-4">
					<div class="elevated-2 p-4 rounded-lg">
						<img class="size-3 inject-me mx-auto d-block" src="{{path '/assets/img/ic_search_24px.svg' }}" />
						<p class="text-center mt-2 mb-0">Search</p>
					</div>
				</div>

				<div class="col-12 col-xl-4 mb-4">
					<div class="elevated-2 p-4 rounded-lg">
						<img class="size-3 inject-me mx-auto d-block text-primary" src="{{path '/assets/img/ic_check_24px.svg' }}" />
						<p class="text-center mt-2 mb-0">Check</p>
					</div>
				</div>

				<div class="col-12 col-xl-4 mb-4">
					<div class="elevated-2 p-4 rounded-lg">
						<img class="size-3 inject-me mx-auto d-block text-warning" src="{{path '/assets/img/ic_warning_24px.svg' }}" />
						<p class="text-center mt-2 mb-0">Warning</p>
					</div>
				</div>

				<div class="col-12 col-xl-4 mb-4">
					<div class="elevated-2 p-4 rounded-lg">
						<img class="size-3 inject-me mx-auto d-block text-info" src="{{path '/assets/img/ic_info_24px.svg' }}" />
						<p class="text-center mt-2 mb-0">Info</p>
					</div>
				</div>

				<div class="col-12 col-xl-4 mb-4">
					<div class="elevated-2 p-4 rounded-lg">
						<img class="size-3 inject-me mx-auto d-block" src="{{path '/assets/img/ic_star_24px.svg' }}" />
						<p class="text-center mt-2 mb-0">Star</p>
					</div>
				</div>

				<div class="col-12 col-xl-4 mb-4">
					<div class="elevated-2 p-4 rounded-lg">
						<img class="size-3 inject-me mx-auto d-block" src="{{path '/assets/img/ic_search_24px.svg' }}" />
						<p class="text-center mt-2 mb-0">Search</p>
					</div>
				</div>

			</div>

		</div>

		<div class="col-24 mt-5">
			<p class="text-info mt-4"><strong>— Social Networks</strong></p>

			<div class="row mt-4">

				<div class="col-12 col-xl-4 mb-4">
					<div class="elevated-2 p-4 rounded-lg">
						<img class="size-3 inject-me mx-auto d-block" src="{{path '/assets/img/ic_facebook.svg' }}" />
						<p class="text-center mt-2 mb-0">facebook</p>
					</div>
				</div>

				<div class="col-12 col-xl-4 mb-4">
					<div class="elevated-2 p-4 rounded-lg">
						<img class="size-3 inject-me mx-auto d-block" src="{{path '/assets/img/ic_twitter.svg' }}" />
						<p class="text-center mt-2 mb-0">twitter</p>
					</div>
				</div>

				<div class="col-12 col-xl-4 mb-4">
					<div class="elevated-2 p-4 rounded-lg">
						<img class="size-3 inject-me mx-auto d-block" src="{{path '/assets/img/ic_youtube.svg' }}" />
						<p class="text-center mt-2 mb-0">youtube</p>
					</div>
				</div>

				<div class="col-12 col-xl-4 mb-4">
					<div class="elevated-2 p-4 rounded-lg">
						<img class="size-3 inject-me mx-auto d-block" src="{{path '/assets/img/ic_instagram.svg' }}" />
						<p class="text-center mt-2 mb-0">instagram</p>
					</div>
				</div>

				<div class="col-12 col-xl-4 mb-4">
					<div class="elevated-2 p-4 rounded-lg">
						<img class="size-3 inject-me mx-auto d-block" src="{{path '/assets/img/ic_snapchat.svg' }}" />
						<p class="text-center mt-2 mb-0">snapchat</p>
					</div>
				</div>

				<div class="col-12 col-xl-4 mb-4">
					<div class="elevated-2 p-4 rounded-lg">
						<img class="size-3 inject-me mx-auto d-block" src="{{path '/assets/img/ic_whatsapp.svg' }}" />
						<p class="text-center mt-2 mb-0">whatsapp</p>
					</div>
				</div>

				<div class="col-12 col-xl-4 mb-4">
					<div class="elevated-2 p-4 rounded-lg">
						<img class="size-3 inject-me mx-auto d-block" src="{{path '/assets/img/ic_soundcloud.svg' }}" />
						<p class="text-center mt-2 mb-0">soundcloud</p>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>