<div class="container">
	<div class="row">
		<div class="col-24 mt-5">
			{{#if isAuto}}
				{{> @alert text="Automated galleries' content can't be changed until it's switched to Curated - All controls should be disabled" color="info"}}
			{{/if}}
			<div class="d-flex">
				<div class="avatar mt-2 size-4 mr-3" style="background-image: url(https://images.onefootball.com/default_gallery-icon.png);"></div>
				<div>
					<h3 class="font-weight-bold">Trending News Gallery</h3>
					<p class="text-muted">
						{{#if isAuto}}
							<img class="icon size-lg text-info inject-me" src="{{path '/assets/img/icons/ic_flash_circle_24px.svg' }}" data-toggle="tooltip" data-placement="top" title="Automated" />
						{{else}}
							<img class="icon size-lg text-primary inject-me" src="{{path '/assets/img/icons/ic_account_circle_24px.svg' }}" data-toggle="tooltip" data-placement="top" title="Curated" />
						{{/if}}
						Curated by Onefootball Team
						<img class="inject-me icon text-gray-light" src="{{path '/assets/img/icons/ic_dot_24px.svg' }}" />
						{{!-- {{> @badge text="draft" color="danger"}} --}}
						{{> @badge text="Published" color="primary"}}
					</p>
					</div>
					<div class="ml-auto align-self-center">
						<div class="d-flex align-items-center">
							<div class="dropdown">
								<a href="#" class="text-gray-light dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<img class="inject-me icon size-2 ml-auto d-block" src="{{path '/assets/img/icons/ic_more_horiz_24px.svg' }}" />
								</a>
								<div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
									{{#if isAuto}}
										<a href="#" class="dropdown-item">
											<img class="inject-me icon size-lg mr-2" src="{{path '/assets/img/icons/ic_account_circle_24px.svg' }}" /> Switch to Curated
										</a>
									{{else}}
										<a href="#" class="dropdown-item">
											<img class="inject-me icon size-lg mr-2" src="{{path '/assets/img/icons/ic_flash_circle_24px.svg' }}" /> Switch to Automated
										</a>
									{{/if}}
									<a class="dropdown-item" href="#">
										<img class="inject-me icon size-lg mr-2" src="{{path '/assets/img/icons/ic_cloud_off_24px.svg' }}" /> Unpublish
									</a>
									<a class="dropdown-item text-danger" href="#">
										<img class="inject-me icon size-lg mr-2" src="{{path '/assets/img/icons/ic_delete_24px.svg' }}" />
										Delete Gallery
									</a>
								</div>
							</div>
							<div class="ml-3">
								{{#if isAuto}}
									<a href="#" class="btn btn-primary disabled">Publish</a>
								{{else}}
									<a href="#" class="btn btn-primary">Publish</a>
								{{/if}}
							</div>
						</div>
						{{!-- <div class="btn-group mt-2" role="group" aria-label="Basic example">
							<a href="#" class="btn btn-outline-danger" data-toggle="modal" data-target="#modal-alert">Delete</a>
							<a href="#" class="btn btn-secondary">Unpublish</a>
							<a href="#" class="btn btn-primary">Publish</a>
						</div> --}}
					</div>
				</div>
			</div>
			<div class="col-24 mt-6">
				<div class="d-flex mb-3">
					<a href="#" class="h5 text-info">— Information and targeting
						<img class="text-info inject-me icon size-lg" src="{{path '/assets/img/icons/ic_chevron_right_24px.svg' }}" />
					</a>
					<div class="ml-auto align-self-center">
						<a href="#" class="btn btn-outline-info btn-sm float-right">Edit</a>
					</div>
				</div>
				<div class="border p-3 rounded-lg overflow-hidden" style="height:65px;">
					<dl class="row m-0">
						<dt class="col-sm-4 mt-2 text-sm">Language:</dt>
						<dd class="col-sm-8 mt-2 text-sm">German</dd>
						<dt class="col-sm-4 mt-2 text-sm">Published to:</dt>
						<dd class="col-sm-8 mt-2 text-sm">Team</dd>
						<dt class="col-sm-4 mt-2 text-sm">Rank:</dt>
						<dd class="col-sm-8 mt-2 text-sm">Before Favorite teams area — Rank #1</dd>
						<dt class="col-sm-4 mt-2 text-sm">ID:</dt>
						<dd class="col-sm-8 mt-2 text-sm">18274162</dd>
						<dt class="col-sm-4 mt-2 text-sm">Index:</dt>
						<dd class="col-sm-8 mt-2 text-sm">#2</dd>
						<dt class="col-sm-4 mt-2 text-sm">Content Type:</dt>
						<dd class="col-sm-8 mt-2 text-sm">News General Gallery</dd>
						<dt class="col-sm-4 mt-2 text-sm">Push link:</dt>
						<dd class="col-sm-8 mt-2 text-sm mb-0">
							<a href="#" class="text-success" data-toggle="tooltip" data-placement="top" title="Click to copy">
								onefootball://editorial/18274162?language=de
								<img class="text-success inject-me icon size-lg" src="{{path '/assets/img/icons/ic_content_copy_24px.svg' }}" />
							</a>
						</dd>
						<dt class="col-sm-4 mt-2 text-sm">Description:</dt>
						<dd class="col-sm-8 mt-2 text-sm">All the news that is fit to curate. Native and magazine only.</dd>
						<dt class="col-sm-4 mt-2 text-sm">Entity:</dt>
						<dd class="col-sm-8 mt-2 text-sm mb-0">
							<div class="mb-2">
								<img src="https://images.onefootball.com/icons/teams/164/263.png" class="size-2 mr-2">Paris SG
								{{> @badge text="Official" color="info"}}
							</div>

							<div class="mb-2">
								<img src="https://images.onefootball.com/icons/teams/164/6.png" class="size-2 mr-2">Bayern Munich
							</div>
						</dd>
					</dl>
				</div>
			</div>
		</div>
	</div>