<div class="alert alert-{{color}} {{className}}" style="{{inlineStyle}}" role="alert">
	{{text}}
	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		<img class="inject-me text-gray size-1" src="{{path '/assets/img/icons/ic_close_circle_24px.svg' }}" />
	</button>
</div>