<div class="card {{className}}">
  <a href="#">
    <span class="row no-gutters">
      <div class="col-16 pr-3">
        <{{heading}} class="font-weight-bold mt-0">
          {{title}}
        </{{heading}}>
        <div class="mt-2">
          <span class="font-weight-semibold text-gray-dark text-sm">
            <img class="icon size-sm mr-2" src="{{path '/assets/img/brand-icon.svg' }}" />Onefootball
          </span>
          <span class="text-gray-light">
            <img class="inject-me icon text-gray-light" src="{{path '/assets/img/icons/ic_dot_24px.svg' }}" />
          </span>
          <span class="text-gray-light text-sm">{{timestamp}}</span>
        </div>
      </div>
      <span class="col-8">
        <div class="rounded rect rect-4-3" style="background-image: url('{{img}}')"></div>
      </span>
    </span>
  </a>
</div>