<div class="card {{className}}">
  <a href="#">
    <div class="rounded-lg rect rect-{{ratio}}" style="background-image: url('{{img}}')">
        {{#if isVideo}}
          <div class="position-absolute center-absolute m-auto rounded-circle size-4 blur-backdrop text-white">
            <img class="position-absolute center-absolute size-3 inject-me" src="{{path '/assets/img/icons/ic_play_arrow_24px.svg' }}" />
          </div>
        {{/if}}
    </div>
    {{!-- <img src="{{img}}" alt="" class="img-fluid rounded-lg"> --}}
    <{{heading}} class="font-weight-bold mt-3">
    {{title}}
    </{{heading}}>
    <p class="mt-2 mb-0 text-lg text-gray-light font-weight-semibold">
      {{teaser}}
    </p>
    <div class="mt-2">
      <span class="font-weight-semibold text-gray-dark text-sm">
        <img class="icon size-sm mr-2" src="{{path '/assets/img/brand-icon.svg' }}" />Onefootball
      </span>
      <span class="text-gray-light">
        <img class="inject-me icon text-gray-light" src="{{path '/assets/img/icons/ic_dot_24px.svg' }}" />
      </span>
      <span class="text-gray-light text-sm">{{timestamp}}</span>
    </div>
  </a>
</div>