{{!-- card-default --}}

<div class="container container-scroll mt-4">
			<div class="row row-scroll pb-2">
				{{> @entity-tile entity-tileWidth="{{tileWidth}}" img="https://images.onefootball.com/icons/teams/164/6.png" color="#ED1148" name="FC Bayern Munich" }}
				{{> @entity-tile entity-tileWidth="{{tileWidth}}" img="https://images.onefootball.com/icons/teams/164/26.png" color="#FFFFFF" name="Real Madrid" }}
				{{> @entity-tile entity-tileWidth="{{tileWidth}}" img="https://images.onefootball.com/icons/teams/164/5.png" color="#8E1B3B" name="Barcelona" }}
				{{> @entity-tile entity-tileWidth="{{tileWidth}}" img="https://images.onefootball.com/icons/teams/164/155.png" color="#FDE100" name="B. Dortmund" }}
				{{> @entity-tile entity-tileWidth="{{tileWidth}}" img="https://images.onefootball.com/icons/teams/164/6.png" color="#ED1148" name="FC Bayern Munich" }}
				{{> @entity-tile entity-tileWidth="{{tileWidth}}" img="https://images.onefootball.com/icons/teams/164/26.png" color="#FFFFFF" name="Real Madrid" }}
				{{> @entity-tile entity-tileWidth="{{tileWidth}}" img="https://images.onefootball.com/icons/teams/164/5.png" color="#8E1B3B" name="Barcelona" }}
				{{> @entity-tile entity-tileWidth="{{tileWidth}}" img="https://images.onefootball.com/icons/teams/164/155.png" color="#FDE100" name="B. Dortmund" }}
				{{> @entity-tile entity-tileWidth="{{tileWidth}}" img="https://images.onefootball.com/icons/teams/164/6.png" color="#ED1148" name="FC Bayern Munich" }}
				{{> @entity-tile entity-tileWidth="{{tileWidth}}" img="https://images.onefootball.com/icons/teams/164/26.png" color="#FFFFFF" name="Real Madrid" }}
				{{> @entity-tile entity-tileWidth="{{tileWidth}}" img="https://images.onefootball.com/icons/teams/164/5.png" color="#8E1B3B" name="Barcelona" }}
				{{> @entity-tile entity-tileWidth="{{tileWidth}}" img="https://images.onefootball.com/icons/teams/164/155.png" color="#FDE100" name="B. Dortmund" }}
			</div>
</div>